<form (ngSubmit)="this.passwordChange.valid && changePassword()" [formGroup]="passwordChange">
  <mat-card>
    <mat-card-header>
      <h1>Change Password</h1>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="10">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Old Password</mat-label>
          <input formControlName="oldPassword" matInput placeholder="Old Password" name="oldPassword"/>
          <mat-error>password must be between 8-50 character long</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>New Password</mat-label>
          <input formControlName="newPassword" matInput placeholder="New Password" name="newPassword"/>
          <mat-error>password must be between 8-50 character long</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Confirm New Password</mat-label>
          <input formControlName="confirmPassword" matInput placeholder="Confirm Password" name="confirmPassword"/>
          <mat-error>didn't match with new password</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Change</button>
    </mat-card-actions>
  </mat-card>
</form>
