/* Structure */
.example-container {
  position: relative;
  margin: 30px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  background: rgba(0, 0, 0, 0.62);
}
.example-table-container {
  position: relative;
  /*min-height: 200px;*/
  /*max-height: 80vh;*/
  overflow: auto;
}
.search mat-form-field{
  background: rgba(173, 95, 190, 0);
}
table {
  width: 100%;
}
table th{
  background: black;
  color: white;
  font-size: 1rem;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.DIAMOND{background: #b9f2ff;display: inline-block;border-radius: 50%;width: 20px}
.GOLD{background: #FFD700;display: inline-block;border-radius: 50%;width: 20px
}
.PLATINUM{background: #e5e4e2;display: inline-block;border-radius: 50%;width: 20px
}
.SILVER{background: rgba(192, 192, 192, 0.71);display: inline-block;border-radius: 50%;width: 20px
}
.BRONZE{background: #b08d57;display: inline-block;border-radius: 50%;width: 20px
}
