<!--<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Experiance a ROYAL LifeStyle</h3>
        <p>Enjoy your stay at The Great Fort build in 1870</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Experience the best sunrise and sunset</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Surrounded by Natural Beauty</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>Natural Lake Located nearby</h3>
      </div>
    </ng-template>
  </ngb-carousel>-->
<section class="home">
  <mat-card fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between">

    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFlex="80">
      <img mat-card-image src="assets/luffy.jpg" width="500" height="500">
      <h1><span class="clip">ABIRAL KHADKA</span></h1>
      <h1>Full Stack Developer</h1>
    </mat-card-content>
    <mat-card-footer fxLayout="column" fxLayoutGap="20" fxLayoutAlign="center">
      <mat-icon>facebook</mat-icon>
      <mat-icon>rocket</mat-icon>
      <mat-icon>room</mat-icon>
      <mat-icon>bookmark</mat-icon>
      <mat-icon>favorite</mat-icon>
    </mat-card-footer>
  </mat-card>

</section>
